.app-logo {
  height: 30vh;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #282c34;
  min-height: 20vh;
  max-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 10vmin);
  color: white;
}



